project           = "quiz-platform"
environment       = "prod"
aws_region        = "ap-northeast-2"
vpc_cidr          = "10.0.0.0/16"
db_username       = "quiz"
db_password       = "CHANGE_ME"
db_instance_class = "db.t3.micro"
redis_node_type   = "cache.t3.micro"
mq_username       = "quiz"
mq_password       = "CHANGE_ME"
mq_instance_type  = "mq.t3.micro"
backend_image     = "ghcr.io/jaejinu/quiz-platform-backend:latest"
frontend_image    = "ghcr.io/jaejinu/quiz-platform-frontend:latest"
jwt_secret        = "CHANGE_ME_MIN_32_BYTES"
